<div class="form-enregistrer">
  <form>
    <h1>S'enregistrer !!</h1>
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input matInput />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Prenom</mat-label>
        <input matInput />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Numero</mat-label>
        <input matInput />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Adresse</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div class="form-button">
      <button mat-flat-button color="primary" routerLink="/">retour</button>
      <button mat-flat-button color="warn">Valider</button>
    </div>
  </form>
</div>
>
